        html, body {
            margin: 0;
            padding: 0;
            width:100vw;
        }
        canvas {
            display: block;
        }
        div{
            margin: 0;
            padding: 0;
        }
        p{
            margin: 0;
            padding: 0;
        }
        #head{
            margin: 0;
            padding:0;
            height:3vw;
            width:100vw;
        }
        
        #colorOptions{
            position: absolute;
            left:76vw;
            top:-16vw;
            background-color: black;
            width:5vw;
            height:15vw;
            overflow: scroll;
            padding-bottom: 3vw;
            cursor: default;
        }
        #colorOptions:hover{
            top:0vw;
            cursor: default;
        }
        #strokeOptions{
            position: absolute;
            left:83vw;
            top:-16vw;
            background-color: black;
            width:5vw;
            height:15vw;
            overflow: scroll;
            padding-bottom: 3vw;
            cursor: default;
        }

        #strokeOptions:hover{
            top:0vw;
            cursor: default;
        }
        #fontOptions{
            position: absolute;
            left:90vw;
            top:-16vw;
            background-color: black;
            width:5vw;
            height:15vw;
            overflow: scroll;
            padding-bottom: 3vw;
            cursor: default;
        }

        #fontOptions:hover{
            top:0vw;
            cursor: default;
        }
        #search{
            position: absolute;
            left:4vw;
            top:-3vw;
            background-color: black;
            width:23vw;
            height:5vw;
            overflow: scroll;
            cursor: default;
        }
        #search:hover{
            top:0vw;
            cursor: default;
        }
        #save{
            position: absolute;
            left:1vw;
            font-family: sans-serif;
            color: white;
            background-color: black;
            width:3vw;
            font-size: 3vw;
            top:0.6vw;
            cursor: pointer;
        }
        #erase{
            position: absolute;
            left:5vw;
            top:0.6vw;
            font-family: sans-serif;
            color: white;
            background-color: black;
            width:3vw;
            cursor: pointer;
        }
        #check{
            position: absolute;
            left:8.8vw;
            top:0.6vw;
            font-family: sans-serif;
            color: white;
            background-color: black;
            width:1.8vw;
            cursor: pointer;
        }
        input{
            position: absolute;
            left:11vw;
            border: none;
            border-bottom: 0.2vw solid white;
            color: white;
            background-color: black;
            font-size: 2vw;
            width:10.8vw;
            cursor: pointer;
            font-family: Mabry;
            top:0.65vw;
        }
        #submit{
            position: absolute;
            left:20.7vw;
            top:0.2vw;
            color: white;
            width:2vw;
            height:2vw;
            font-size: 2vw;
            cursor: pointer;
        }
        .option{
            width:2.5vw;
            height:2.5vw;
            margin:0;
            padding:0;
            background-color: rgb(0,0,0);
            border-radius: 2.5vw;
            display:inline-block;
            margin-top: 0.5vw;
            margin-left:1vw;
            border: 0.3vw solid white;
            cursor: pointer;
        }
        .option1{
            width:2vw;
            height:2vw;
            margin:0;
            padding:0;
            background-color: white;
            display:inline-block;
            margin-top: 0.5vw;
            margin-left: 1vw;
            cursor: pointer;
        }
        .fontclass{
            margin: auto;
            padding:0;
            padding-top:0.4vw;
            height:3vw;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #tutorial{
            font-family: Mabry;
        }
        .welcomeline{
            width:80vw;
            display: none;
        }
        .arrowclass{
            display:none;
        }
        #error{
            position: absolute;
            top:39vw;
            left:8vw;
/*            opacity: 0;*/
/*            display: none;*/
            animation-duration: 6s;
/*            animation-fill-mode: forwards;*/
            font-family: Mabry;
            font-size: 3vw;
        }
        @keyframes example{
            0% {opacity: 0;}
            25% {opacity: 1;}
            50% {opacity: 1;}
            75% {opacity: 1;}
            100% {opacity: 0;}
        }

        @keyframes mymove{
            0% {top:3vw;}
            50% {top:4vw;}
            100% {top:3vw;}
        }