@font-face{
    font-family: "Radikal Regular";
    src:url(Radikal.otf);
}

@font-face{
    font-family: "Songti SC";
    src:url(Songti-SC-Regular.ttf);
}
@font-face{
    font-family: "Ogg Roman";
    src:url(Ogg-Roman.otf);
}


/*mobile*/
@media only screen and (max-device-width: 500px) {
    body{
        margin:3vw;
    }

    .top{
        position: fixed;
        background-color: white;
        margin: 0;
        margin-top: -4vw;
        padding: 0;
        height: 14vw;
        width:100vw;
        z-index: 10;
    }

    .mynamecircle{
        position: absolute;
        border-radius: 10vw;
        border: 0.3vw solid black;
        width: 5vw;
        height: 5vw;
        margin-top: 5.5vw;
    }

    .mynamezh{
        font-family: "Songti SC", serif;
        src:url(Songti-SC-Regular.ttf);
        font-size: 3.5vw;
        margin-left: 0.75vw;
        margin-top: 0.25vw;
        margin-right: 0;
    }

    .mynameen{
        /*font-family: "Mercury Display", serif;
        src:url(MercuryDisplay-Roman.otf);*/
        font-family: "Ogg Roman", sans-serif;
        src:url(Ogg-Roman.otf);
        font-size: 4vw;
        position: absolute;
        margin-left: 7vw;
        margin-right: 40vw;
        margin-top: 5.2vw;
        /*width: 10vw;*/
    }

    .menu{
        font-family: "Radikal Regular", sans-serif;
        src:url(Radikal.otf);
        position: absolute;
        font-size: 4vw;
        margin-left: 0vw;
        margin-right: 3vw;
        text-decoration: underline;
        text-decoration-color: white;
        color:black;
    }

    #menufeaturedwork{
        position: absolute;
        margin-left: 70vw;
        margin-top: 6.5vw;
    }

    #menuarchive{
        position: absolute;
        margin-left: 84vw;
        margin-top: 6.5vw;
    }

    .inputbar{
        position: absolute;
        margin: 0;
        padding: 0;
        margin-top: 22vw;  
        font-family: "Radikal Regular", sans-serif;
        src:url(Radikal.otf);
        font-size: 6vw;
        line-height: 7vw;
    }

    #fnamecopy{
        font-family: "Ogg Roman", sans-serif;
        src:url(Ogg-Roman.otf);
        position: absolute;
        margin: 0;
        padding: 0;
        width: 88vw;
        /*line-height: 3.5vw;*/

    }

    #fname{
        position: absolute;
        margin: 0;
        padding: 0;
        margin-top: 50vw;
        height: 10vw;
        width: 80vw;
        font-size: 3vw;
        border: 0.1vw solid #fff;
        border-bottom: 0.5vw solid #000;
    }

    

}



/* desktop layout for larger windows*/
@media only screen and (min-device-width: 500px){
    body{
        margin:2vw;
    }

    .top{
        position: fixed;
        background-color: none;
        margin: 0;
        margin-top: -4vw;
        padding: 0;
        height: 8.5vw;
        width:100vw;
        z-index: 10;
    }

    .mynamecircle{
        position: absolute;
        border-radius: 100vw;
        border: 0.15vw solid black;
        width: 2.5vw;
        height: 2.5vw;
        margin-top: 4.2vw;
    }

    .mynamezh{
        font-family: "Songti SC", serif;
        src:url(Songti-SC-Regular.ttf);
        font-size: 1.5vw;
        margin-left: 0.5vw;
        margin-top: 0.2vw;
        margin-right: 0;
    }

    .mynameen{
        font-family: "Ogg Roman", sans-serif;
        src:url(Ogg-Roman.otf);
        font-size: 1.9vw;
        position: absolute;
        margin-left: 3vw;
        margin-right: 55vw;
        margin-top: 4vw;
    }

    .menu{
        font-family: "Radikal Regular", sans-serif;
        src:url(Radikal.otf);
        font-size: 2.5vw;
        margin-left: 0vw;
        margin-right: 3vw;
        position: absolute;
        text-decoration: underline;
        text-decoration-color: white;
        color:black;
    }

    #menufeaturedwork{
        position: absolute;
        margin-left: 0vw;
        margin-top: 78vh;
        text-decoration: underline;
        text-decoration-color: white;
    }

    #menuarchive{
        position: absolute;
        margin-left: 0vw;
        margin-top: 85vh;
        text-decoration: underline;
        text-decoration-color: white;
    }

    .inputbar{
        position: absolute;
        margin: 0;
        padding: 0;
        font-family: "Radikal Regular", sans-serif;
        src:url(Radikal.otf);
        font-size: 3vw;
        line-height: 3.5vw;
        margin-top: 14vw;
        margin-left: 20vw;
    }

    #fnamecopy{
        font-family: "Ogg Roman", sans-serif;
        src:url(Ogg-Roman.otf);
        position: absolute;
        margin: 0;
        padding: 0;
        width: 72vw;
    }

    #fname{
        position: absolute;
        margin: 0;
        padding: 0;
        margin-top: 18vw;
        height: 5vw;
        /*width: 80vw;*/
        font-size: 3vw;
        border: 0.1vw solid #fff;
        border-bottom: 0.5vw solid #000;
    }
}
